@{
}
<div class="container margin-bottom-30">
    <div class="headline"><h2>History of Bolivia Marka Dance Group</h2></div>
    <p>
        Jaime Moscoso is a well-known identity in the Latin community of Brisbane.  Born in Bolivia and now based in Brisbane, he formed the Bolivia Marka Dance Group in 1999 with his daughters Mindy and Romina.  They are enthusiastic to share their cultural heritage originating from the mountains and jungles of the Bolivian Andes.
    </p>

    <p>
        In the years since Bolivia Marka was formed, Jaime has worked with countless numbers of people who share his love for the music and dance of Bolvia.  Over these years Bolivia Marka has taken part in many events including over 15 consecutive years at the world-famous Woodford Folk Festival.  There have been performances at Australian Citizenship ceremonies, Latin festivals, street parades and supporting Bolivian band Los Kjarkas.
    </p>
    
    <h3>Some prominent events</h3>
    <ul>
        <li>Woodford Folk Festival: 1999-2014</li>
        <li>Los Kjarkas 2013</li>
        <li>Fiesta Latina street parade: 2013, 2014</li>
        <li>...</li>
    </ul>
</div>
