@{
}
<div class="container margin-bottom-30">
    <div class="headline">
        <h2>About Bolivia Marka Dance Group</h2>
    </div>

    <p>
        The Bolivia Marka dancers are a group of fun-loving people from diverse cultural backgrounds including Bolivia, Peru, Chile and Australia brought together by their shared passion of Bolivian music, dance and culture.
    </p>
    <p>
        The dances of Bolivia Marka are representative of dances from the world-heritage recognised Oruro Carnival in Bolivia.  The Oruro Carnival is an annual religious festival dating back more than 2000 years.  Originally an indigenous festival, it was later adapted in the 17th century to incorporate the Christian rituals of the Spanish settlers.  This blend of traditions can be clearly seen and heard in the variety of music and dance displayed at Oruro.  During this annual spectacle there are routinely in excess of 28,000 dancers and thousands of musicians.
    </p>
    <p>
        Recognised as an important international treasure, in 2001 the Oruro Carnival was declared a ‘Masterpiece of the Oral and Intangible Heritage of Humanity’ by an international collection of highly respected figures and convened by the United Nations.
    </p>
</div>
