@{
}

<div class="container margin-bottom-30">
    <div class="row">
        <a href="/About">
            <div class="funny-boxes-top-yellow col-md-4 col-sm-6">
                <h1>About</h1>
                <p>The Bolivia Marka dancers are a group of fun-loving passionate people who have diverse cultural backgrounds, including Bolivia, Peru and Australia brought together by their shared passion of Bolivian music and dance.</p>
                <p>learn more <i class="glyphicon glyphicon-arrow-right"></i></p>
            </div>
        </a>
        <a href="/Dances">
            <div class="funny-boxes-top-yellow col-md-4 col-sm-6">
                <h1>Dances</h1>
                <p>The folkloric music and dances of Bolivia originate from a variety of regions throughout the country and each dance represents a unique cultural story.</p>
                <p>learn more <i class="glyphicon glyphicon-arrow-right"></i></p>
            </div>
        </a>
        <a href="/History">
            <div class="funny-boxes-top-yellow col-md-4 col-sm-6">
                <h1>History</h1>
                <p>Formed in 1999, the Bolivia Marka dance group has a long and colourful history and has performed at countless cultural events around Australia.</p>
                <p>learn more <i class="glyphicon glyphicon-arrow-right"></i></p>
            </div>
        </a>
    </div>
</div>