@{
}

<div class="container margin-bottom-30">
	<div class="row">
		<a href="/About">
			<div class="funny-boxes-top-yellow col-md-4 col-sm-6">
				<h1>About</h1>
				<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
			</div>
		</a>
		<a href="/Dances">
			<div class="funny-boxes-top-yellow col-md-4 col-sm-6">
				<h1>Dances</h1>
				<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
			</div>
		</a>
		<a href="/History">
			<div class="funny-boxes-top-yellow col-md-4 col-sm-6">
				<h1>History</h1>
				<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
			</div>
		</a>
	</div>
</div>